form(action="/books/search", method="post")
  p
    label(for="search") Search: 
    input(id="search" type="text", name="searchbar" value=search)
    input(class="button" type="submit", value="Search")
hr
