@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* Colors
  base: #a4ebf3
  dark: #6cdfec
  btn: #0fd5eb
  light: #cdf4f8
  bg: #f4f9f9
  a: #00b6cb
 */

body {
  padding: 10px 50px 50px;
  font: 16px "Roboto Mono", serif;
  background-color: black;
  /* background-position: 1px;
  background-image: url(../images/library.jpg); */
  color: white;
}

a {
  color: #f4f9f9;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: #f1c55f;
  }

a.button, input[type=submit] {
  color: white;
  background: #070707;
  font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: white solid 1px;
}

form a.button, input[type=submit] {
  margin-left: 140px;
  transition: 0.4s;
  font-weight: bold;
  border-radius: 10%;
}

/* form {
  border: white solid 1px;
} */

input[type=submit] {
  border: 0;
  border: white solid 1px;
  font-weight: bold;
}

  a.button:hover, input[type=submit]:hover {
    background-color: #434343;
    border: #e7e7e7 solid 1px;
    font-weight: bold;
    color: #f1c55f;
  }

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}
table {
  border: white solid 1px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
  /* background: #070707;
  color: white; */
}

tr:nth-child(1n) {
  background: #070707;
}

 tr:nth-child(2n) {
  background: #434343;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 5px;
  font-family: "Roboto Mono", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border-color: #E7E7E7;
  color: #f1c55f;
  background-color: #070707;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

hr {
  border-style: dashed;
}

#search {
  color: white;
}

#search-by {
  color: black;
}

.error {
  color: #ff5019;
}
